* {
  font-family: tron;
}

@font-face {
  font-family: tron;
  src: url(Tr2n.ttf);
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #003438;
}

.before {
  display: none;
  height: 37rem;
  width: 37rem;
  border: 1px dashed;
  margin: auto;
  display: block;
}

#game {
  height: 37rem;
  width: 37rem;
  border: 1px dashed;
  margin: auto;
  display: block;
  background-size: 37rem;
  background-position-y: 1.9rem;
  background-image: url("Images/TronGridCrushed.png");
}

.title {
  text-align: center;
  margin-top: 0;
  padding-top: 3rem;
  font-size: 3rem;
  color: #00DEFE;
  justify-content: center;   
  animation: title 1.2s step-end infinite;
}

.content-game-play {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #00DEFE;
}

.players {
  font-size: 2rem;
  grid-column: 1 / 6;
  margin: auto;
  justify-content: center;
}

.move-arrows, .move-letters {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.move-arrows, .arrows {
  color: #FF2131;
}

.arrows {
  border: 1px solid #FF2131;
}

.w, .up {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.a, .left {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.s, .down {
  grid-column: 3 / 4;
  grid-row: 4 / 4;
}

.d, .right {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

.arrows, .wasd {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;

}

.wasd {
  border: 1px solid #00DEFE;
  color: #00DEFE;
}

.arrows:hover {
  border-color: #FF2131;
}

.wasd:hover {
  border: 1px solid #85F9AB;
}

.press-play {
  background-color: #003438;
  display: block;
  text-align: center;
  margin: 2rem auto 0 auto;
  font-size: 3rem;
  border: none;
  color: #00DEFE;
  cursor: pointer;
}

.press-play:hover {
  -webkit-animation: title .8s step-end infinite;    
    animation: title .8s step-end infinite;
}

@-webkit-keyframes play {    
  from, to {    
    color: #00DEFE; 
    }    
    50% {    
    color: #FF2131;  
  }    
}    
@keyframes play {    
  from, to {    
    color: #FF2131;   
    }    
    50% {    
    color: #00DEFE;  
  }    
} 

@-webkit-keyframes title {    
  from, to {    
    color: #00DEFE; 
    }    
    50% {    
    color: #FF2131;  
  }    
}    
@keyframes title {    
  from, to {    
    color: #FF2131;   
    }    
    50% {    
    color: #00DEFE;  
  }    
} 